.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
  background-color: #fff;
  position: relative;
}
