.popup__form {
  display: grid;
  margin-left: 36px;
  margin-bottom: 37px;
  margin-right: 36px;
}

@media screen and (max-width: 800px) {
  .popup__form {
    margin: 0 auto;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 25px;
  }
}