.page__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 0 60px;
}

@media screen and (max-width: 800px) {
  .page__container {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
