.element__like {
  width: 22px;
  height: 19px;
  background: none;
  border: solid 1px #fff;
  border-radius: 0;
  outline: none;
  padding: 0;
  background-image: url("../../../images/button/element/element__like.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 20px;
}

.element__like:hover {
  opacity: 0.5;
  transition: opacity 0.3s linear;
}